[mysqld]
innodb_buffer_pool_size=1G
innodb_buffer_pool_instances=1
#myisam_sort_buffer_size=200K
#bulk_insert_buffer_size=1M
#sort_buffer_size=1M
innodb_log_buffer_size=8M
innodb_log_file_size=64M
innodb_flush_log_at_trx_commit=2
#innodb-defragment=1
skip-name-resolve=1
query_cache_size=128M
query_cache_limit=4M
max_connections=500
table_open_cache=5000
tmp_table_size=16M
max_heap_table_size=16M
join_buffer_size=4M
aria_pagecache_buffer_size=8M
aria_sort_buffer_size=8M
