[client]
default-character-set = utf8mb4

[mysqld]
character_set_server = utf8mb4
collation_server = utf8mb4_general_ci
innodb_buffer_pool_size = 1G
#myisam_sort_buffer_size = 200K
#bulk_insert_buffer_size = 1M
#sort_buffer_size = 1M
innodb_log_buffer_size = 16M
innodb_log_file_size = 128M
innodb_flush_log_at_trx_commit = 2
#innodb-defragment = 1
skip_name_resolve = 1
query_cache_size = 128M
query_cache_limit = 4M
max_connections = 1000
table_open_cache = 15000
tmp_table_size = 16M
max_heap_table_size = 16M
join_buffer_size = 4M
aria_pagecache_buffer_size = 8M
aria_sort_buffer_size = 8M
open_files_limit = 100000
bind_address = 127.0.0.1
sql_mode=ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION
plugin_load_add = file_key_management
loose_file_key_management_filename = /etc/mysql/encryption/keyfile.enc
loose_file_key_management_filekey = FILE:/etc/mysql/encryption/keyfile.key
loose_file_key_management_encryption_algorithm = AES_CTR
innodb_encrypt_tables = FORCE
innodb_encrypt_temporary_tables = ON
innodb_encrypt_log = ON
encrypt_tmp_files = ON
encrypt_tmp_disk_tables = ON
enforce_storage_engine = InnoDB
encrypt_binlog=ON
innodb_compression_default=ON
innodb_compression_algorithm=zlib
innodb_rollback_on_timeout=1
innodb_lock_wait_timeout=5
binlog_row_image = minimal
binlog_format = ROW
