[Unit]
Description=Delete old shared hosting accounts

[Timer]
# Time to wait after booting before we run first time
OnBootSec=5min
# Time between running each consecutive time
OnUnitActiveSec=1h
Unit=hosting-del.service

[Install]
WantedBy=multi-user.target
