[Unit]
Description=The PHP 7.0 FastCGI Process Manager (instance %i)
Documentation=man:php-fpm7.0(8)
After=network.target
PartOf=php7.0-fpm.service
ReloadPropagatedFrom=php7.0-fpm.service

[Service] 
Type=notify
PIDFile=/run/php/php7.0-fpm-%i.pid
ExecStart=/usr/sbin/php-fpm7.0 --nodaemonize --fpm-config /etc/php/7.0/fpm/php-fpm-%i.conf
ExecReload=/bin/kill -USR2 $MAINPID
LimitNOFILE=100000
TimeoutStartSec=300

[Install]
WantedBy=multi-user.target
