# This service is actually a systemd target,
# but we are using a service since targets cannot be reloaded.

[Unit]
Description=The PHP 7.0 FastCGI Process Manager (multi instance master)
Documentation=man:php-fpm7.0(8)
After=network.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/true
ExecReload=/bin/true

[Install]
WantedBy=multi-user.target

