[Unit]
Description=The PHP 8.0 FastCGI Process Manager
Documentation=man:php-fpm8.0(8)
After=network.target
PartOf=php8.0-fpm.service
ReloadPropagatedFrom=php8.0-fpm.service

[Service] 
Type=notify
PIDFile=/run/php/php8.0-fpm.pid
ExecStart=/usr/sbin/php-fpm8.0 --nodaemonize --fpm-config /etc/php/8.0/fpm/php-fpm.conf
ExecReload=/bin/kill -USR2 $MAINPID
LimitNOFILE=100000
TimeoutStartSec=300
ProtectSystem=strict
PrivateTmp=true
# sendmail requires it...
#NoNewPrivileges=true
PrivateDevices=true
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectControlGroups=true
LockPersonality=true
SystemCallArchitectures=native
ReadWritePaths=-/var/log/
ReadWritePaths=-/var/run/
ReadWritePaths=-/run/
ReadWritePaths=-/var/local/squirrelmail/
ReadWritePaths=-/var/www/
ReadWritePaths=-/var/spool/postfix/
InaccessiblePaths=-/root/
CPUQuota=100%
MemoryHigh=25%
MemoryMax=35%
RuntimeDirectory=php
RuntimeDirectoryPreserve=yes

[Install]
WantedBy=multi-user.target
